
//reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//fonts
@font-face {
    font-family: 'FiraSans-ExtraLight';
    src: url(../assets/fonts/FiraSans-ExtraLight.ttf);
}
@font-face {
    font-family: 'FiraSans-Regular';
    src: url(../assets/fonts/FiraSans-Regular.ttf);
}
@font-face {
    font-family: 'FiraSans-SemiBold';
    src: url(../assets/fonts/FiraSans-SemiBold.ttf);
}
@font-face {
    font-family: 'FiraSans-ExtraBold';
    src: url(../assets/fonts/FiraSans-ExtraBold.ttf);
}
@font-face {
    font-family: 'FiraSansCondensed-ExtraBold';
    src: url(../assets/fonts/FiraSansCondensed-ExtraBold.ttf);
}
@font-face {
    font-family: 'FiraSansCondensed-Regular';
    src: url(../assets/fonts/FiraSansCondensed-Regular.ttf);
}

$FiraExtraLight: 'FiraSans-ExtraLight';
$FiraRegular: 'FiraSans-Regular';
$FiraSemiBold: 'FiraSans-SemiBold';
$FiraExtraBold: 'FiraSans-ExtraBold';

$FiraExtraBoldCondensed: 'FiraSansCondensed-ExtraBold';
$FiraRegularCondensed: 'FiraSansCondensed-Regular';

//colors
$RUNvert: #ccd718;
$RUNbleufonce: #101545;
$RUNgrisfonce: #333;
$RUNgrismoyen: #555;
$RUNgrislight: #999;
$RUNwhite: #f1f1f1;
$RUNorange: rgb(255, 141, 18);

body{
    width: 100vw;
    height: 100%;
    font-family: $FiraRegular;
    
}

.containerHome{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    background-image: linear-gradient(249deg, rgba(232, 232, 232, 0.03) 0%, rgba(232, 232, 232, 0.03) 10%,rgba(14, 14, 14, 0.03) 10%, rgba(14, 14, 14, 0.03) 66%,rgba(232, 232, 232, 0.03) 66%, rgba(232, 232, 232, 0.03) 72%,rgba(44, 44, 44, 0.03) 72%, rgba(44, 44, 44, 0.03) 81%,rgba(51, 51, 51, 0.03) 81%, rgba(51, 51, 51, 0.03) 100%),linear-gradient(242deg, rgba(155, 155, 155, 0.03) 0%, rgba(155, 155, 155, 0.03) 23%,rgba(30, 30, 30, 0.03) 23%, rgba(30, 30, 30, 0.03) 63%,rgba(124, 124, 124, 0.03) 63%, rgba(124, 124, 124, 0.03) 73%,rgba(195, 195, 195, 0.03) 73%, rgba(195, 195, 195, 0.03) 84%,rgba(187, 187, 187, 0.03) 84%, rgba(187, 187, 187, 0.03) 100%),linear-gradient(212deg, rgba(254, 254, 254, 0.03) 0%, rgba(254, 254, 254, 0.03) 27%,rgba(180, 180, 180, 0.03) 27%, rgba(180, 180, 180, 0.03) 33%,rgba(167, 167, 167, 0.03) 33%, rgba(167, 167, 167, 0.03) 34%,rgba(68, 68, 68, 0.03) 34%, rgba(68, 68, 68, 0.03) 63%,rgba(171, 171, 171, 0.03) 63%, rgba(171, 171, 171, 0.03) 100%),linear-gradient(242deg, rgba(71, 71, 71, 0.03) 0%, rgba(71, 71, 71, 0.03) 3%,rgba(97, 97, 97, 0.03) 3%, rgba(97, 97, 97, 0.03) 40%,rgba(40, 40, 40, 0.03) 40%, rgba(40, 40, 40, 0.03) 55%,rgba(5, 5, 5, 0.03) 55%, rgba(5, 5, 5, 0.03) 73%,rgba(242, 242, 242, 0.03) 73%, rgba(242, 242, 242, 0.03) 100%),linear-gradient(404deg, rgba(70, 70, 70, 0.03) 0%, rgba(70, 70, 70, 0.03) 11%,rgba(178, 178, 178, 0.03) 11%, rgba(178, 178, 178, 0.03) 23%,rgba(28, 28, 28, 0.03) 23%, rgba(28, 28, 28, 0.03) 72%,rgba(152, 152, 152, 0.03) 72%, rgba(152, 152, 152, 0.03) 86%,rgba(43, 43, 43, 0.03) 86%, rgba(43, 43, 43, 0.03) 100%),linear-gradient(223deg, rgb(204,215,24),rgb(204,215,24));
    margin: 0 auto;
    // opacity: 50%;
}

li {
    list-style-type: none;
  }