.listCard{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    flex-wrap: wrap;
    // width: 1287px;
    width: 70%;
    gap: 30px;
    margin: 50px 70px 70px 450px;
    opacity: 90%;
}

.runner{
    width: 500px;
    position: absolute;
    top: -10px;
    left: -130px;
    // overflow: hidden;
    z-index: 100;

}
// .runnerDetour{
//     width: 600px;
//     position: absolute;
//     // overflow: hidden;
//     z-index: 100;
//     // top: 80;
// }
.runner1{
    width: 200%;
}
// .runner3{
//     width: 133%;
    
// }