.barreFiltreShoes{
    visibility: hidden;
    padding: 20px;
    background: white;
    border-radius: 20px;
    opacity: 80%;
    box-shadow: 0px 0px 40px white;
    // z-index: 500;
}

// .containerTxtSearch{
//     // z-index: 1000;
//     // width: 100%;
//     // background: orange;
// }
// legend{
//     text-align: center;
//     padding: 5px;
//     text-transform: uppercase;
// }
// fieldset{
//     display: flex;
//     flex-direction: column;
//     justify-content: start;
//     align-items: flex-start;
//     border-radius: 5px;
//     padding: 10px;
// }
// .choice{
//     display: flex;
// }
// .choiceActivity{
//     text-transform: uppercase;
// }

