.nav {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(
      116deg,
      rgba(232, 232, 232, 0.03) 0%,
      rgba(232, 232, 232, 0.03) 10%,
      rgba(14, 14, 14, 0.03) 10%,
      rgba(14, 14, 14, 0.03) 66%,
      rgba(232, 232, 232, 0.03) 66%,
      rgba(232, 232, 232, 0.03) 72%,
      rgba(44, 44, 44, 0.03) 72%,
      rgba(44, 44, 44, 0.03) 81%,
      rgba(51, 51, 51, 0.03) 81%,
      rgba(51, 51, 51, 0.03) 100%
    ),
    linear-gradient(
      109deg,
      rgba(155, 155, 155, 0.03) 0%,
      rgba(155, 155, 155, 0.03) 23%,
      rgba(30, 30, 30, 0.03) 23%,
      rgba(30, 30, 30, 0.03) 63%,
      rgba(124, 124, 124, 0.03) 63%,
      rgba(124, 124, 124, 0.03) 73%,
      rgba(195, 195, 195, 0.03) 73%,
      rgba(195, 195, 195, 0.03) 84%,
      rgba(187, 187, 187, 0.03) 84%,
      rgba(187, 187, 187, 0.03) 100%
    ),
    linear-gradient(
      79deg,
      rgba(254, 254, 254, 0.03) 0%,
      rgba(254, 254, 254, 0.03) 27%,
      rgba(180, 180, 180, 0.03) 27%,
      rgba(180, 180, 180, 0.03) 33%,
      rgba(167, 167, 167, 0.03) 33%,
      rgba(167, 167, 167, 0.03) 34%,
      rgba(68, 68, 68, 0.03) 34%,
      rgba(68, 68, 68, 0.03) 63%,
      rgba(171, 171, 171, 0.03) 63%,
      rgba(171, 171, 171, 0.03) 100%
    ),
    linear-gradient(
      109deg,
      rgba(71, 71, 71, 0.03) 0%,
      rgba(71, 71, 71, 0.03) 3%,
      rgba(97, 97, 97, 0.03) 3%,
      rgba(97, 97, 97, 0.03) 40%,
      rgba(40, 40, 40, 0.03) 40%,
      rgba(40, 40, 40, 0.03) 55%,
      rgba(5, 5, 5, 0.03) 55%,
      rgba(5, 5, 5, 0.03) 73%,
      rgba(242, 242, 242, 0.03) 73%,
      rgba(242, 242, 242, 0.03) 100%
    ),
    linear-gradient(
      271deg,
      rgba(70, 70, 70, 0.03) 0%,
      rgba(70, 70, 70, 0.03) 11%,
      rgba(178, 178, 178, 0.03) 11%,
      rgba(178, 178, 178, 0.03) 23%,
      rgba(28, 28, 28, 0.03) 23%,
      rgba(28, 28, 28, 0.03) 72%,
      rgba(152, 152, 152, 0.03) 72%,
      rgba(152, 152, 152, 0.03) 86%,
      rgba(43, 43, 43, 0.03) 86%,
      rgba(43, 43, 43, 0.03) 100%
    ),
    linear-gradient(90deg, rgb(16, 21, 69), rgb(16, 21, 69));
  position: relative;
  box-shadow: 0px 0px 30px black;
  border-bottom: 30px solid $RUNbleufonce;
  display: flex;
  flex-direction: row;
  z-index: 200;
  .ligne {
    position: absolute;
    width: 100%;
    height: 0.5px;
    background: linear-gradient(to left, $RUNvert 20%, $RUNbleufonce 90%);
    top: 170px;
    left: 0px;
    z-index: 10000;
  }
}
.containerNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // background: #000;

  .containerLogo {
    width: 330px;
    min-width: 320px;
    margin-top: 2 0px;
    // z-index: 5000;
    // background: yellow;
    img {
      width: 100%;
    }
  }

  .pages {
    display: flex;
    flex-direction: row;
    margin-right: 70px;
    width: 75%;
    justify-content: space-between;
    align-items: flex-end;
    // background: orange;
    a {
      text-decoration: none;
    }
    li {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      // text-decoration: none;
      border: none;
      text-transform: uppercase;
      color: $RUNwhite;
      font-family: $FiraRegular;
      position: relative;
      padding-right: 25px;
      width: auto;

      &:nth-child(1) {
        border-right: 1px solid $RUNvert;
      }
    }

    h2 {
      font-family: $FiraSemiBold;
      letter-spacing: 1px;
    }
    h4 {
      color: $RUNvert;

      span {
        color: $RUNwhite;
      }
    }
  }
}

.active {
  position: relative;

  &::after {
    content: "";
    height: 5px;
    width: 0;
    background: $RUNorange;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: absolute;
    bottom: -20px;
    animation: anim 0.5s ease-out forwards;

    @keyframes anim {
      to {
        width: 50%;
      }
    }
  }
}

.bonjourUser{
  color: white;
  position: absolute;
  left: 74.5%;
  top: -5px;
  transition: 0.5s;
  font-size: 1rem;
  transform: translateY(-300px);
  animation: 2s ease-in-out bonjour forwards;
  font-family: $FiraRegularCondensed;
  @keyframes bonjour {
    to {
      transform: translateY(35px);
    }
  }
}
